# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environments
venv/

# VSCode
.vscode/

# OS
.DS_Store

# dotenv
.env

# LangChain vectorstore
vector/

# Logs
*.log

# 비공개 키 파일
keys/

# !/bin/bash
start.sh

# coverage.py coverage result
.coverage
htmlcov/